<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@shopify/polaris@4.25.0/styles.min.css"
    
  rel="stylesheet"
  href="https://unpkg.com/@shopify/polaris@9.2.3/build/esm/styles.css"
/>
<style data-polaris-custom-properties="">   
</style>

<div p-color-scheme="light">
  <p class="Polaris-DisplayText Polaris-DisplayText--sizeExtraLarge">Rails Application: A simple Trasnfer app.</p>
  <div id="PolarisPortalsContainer"></div>
  <div p-color-scheme="light">
  <h2 class="Polaris-Heading">This is a simple rails application that enables you to transfer the products from one
store to another</h2>
  <div id="PolarisPortalsContainer"></div>
</div>
</div>   
    <script>
    
      document.addEventListener("DOMContentLoaded", async function() {
        
          await import("lib/shopify_app")
        

        var SessionToken = window["app-bridge"].actions.SessionToken
        var app = window.app;

        app.dispatch(
          SessionToken.request(),
        );

        // Save a session token for future requests
        window.sessionToken = await new Promise((resolve) => {
          app.subscribe(SessionToken.Action.RESPOND, (data) => {
            resolve(data.sessionToken || "");
          });
        });

        var fetchProducts = function() {
          var headers = new Headers({ "Authorization": "Bearer " + window.sessionToken });
          return fetch("/products", { headers })
            .then(response => response.json())
            .then(data => {
              var products = data.products;

              if (products === undefined || products.length == 0) {
                document.getElementById("products").innerHTML = "<br>No products to display.";
              } else {
                var list = "";
                products.forEach((product) => {
                  var link = `<a target="_top" href="https://<%= @shop_origin %>/admin/products/${product.id}">`
                  list += "<li>" + link + product.title + "</a></li>";
                });
                document.getElementById("products").innerHTML = "<ul>" + list + "</ul>";
                //
                
              }
            });
        }();
      });

    </script>
  </head>
  <body>
 
<script>

</script>
   <div p-color-scheme="light">
  <h2 class="Polaris-Heading">Products</h2>
  <div id="PolarisPortalsContainer"></div>
  
    
    <div id="products"><br>Loading...</div>
    
    
    <h2>New Products</h2>

    <% if @webhooks.present? %>
    
    <ul>
      <% @webhooks.each do |webhook| %>
      <li><%= webhook.topic %> : <%= webhook.address %></li>
      <% end %>
    </ul>
    <% else %>
    <% end %>
  <div p-color-scheme="light">
  <div class="Polaris-Card">
    <div class="Polaris-ResourceList__ResourceListWrapper">
      <div class="Polaris-ResourceList__FiltersWrapper">
        
                  
      <ul class="Polaris-ResourceList" aria-live="polite">
        <li class="Polaris-ResourceItem__ListItem">
          <div class="Polaris-ResourceItem__ItemWrapper">
            <div class="Polaris-ResourceItem Polaris-ResourceItem--selectable Polaris-ResourceItem--persistActions" data-href="customers/341"><a aria-describedby="112" aria-label="View details for Mae Jemison" class="Polaris-ResourceItem__Link" tabindex="0" id="PolarisResourceListItemOverlay7" href="customers/341" data-polaris-unstyled="true"></a>
              <div class="Polaris-ResourceItem__Container" id="112">
                <div class="Polaris-ResourceItem__Owned">
                  <div class="Polaris-ResourceItem__Handle">
                    <div class="Polaris-ResourceItem__CheckboxWrapper">
                      <div><label class="Polaris-Choice Polaris-Choice--labelHidden" for="PolarisResourceListItemCheckbox7"><span class="Polaris-Choice__Control"><span class="Polaris-Checkbox"><input id="PolarisResourceListItemCheckbox7" type="checkbox" class="Polaris-Checkbox__Input" aria-invalid="false" role="checkbox" aria-checked="false" value=""><span class="Polaris-Checkbox__Backdrop"></span><span class="Polaris-Checkbox__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                    
                                  </svg></span></span></span></span><span class="Polaris-Choice__Label"></span></label></div>
                    </div>
                  </div>
                
                </div>
                <div class="Polaris-ResourceItem__Content">
                  <h3><span class="Polaris-TextStyle--variationStrong">Jeans </span></h3>
                  <div>Denim</div>
                </div>
                <div class="Polaris-ResourceItem__Actions">
                  <div class="Polaris-ButtonGroup">
                    <div class="Polaris-ButtonGroup__Item Polaris-ButtonGroup__Item--plain"><a class="Polaris-Button Polaris-Button--plain" href="orders/1456" data-polaris-unstyled="true"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Add to another store</span></span></a></div>
                  </div>
                </div>
                <div class="Polaris-ResourceItem__Disclosure">
               
              </div>
            </div>
          </div>
        </li>
         <li class="Polaris-ResourceItem__ListItem">
          <div class="Polaris-ResourceItem__ItemWrapper">
            <div class="Polaris-ResourceItem Polaris-ResourceItem--selectable Polaris-ResourceItem--persistActions" data-href="customers/341"><a aria-describedby="112" aria-label="View details for Mae Jemison" class="Polaris-ResourceItem__Link" tabindex="0" id="PolarisResourceListItemOverlay7" href="customers/341" data-polaris-unstyled="true"></a>
              <div class="Polaris-ResourceItem__Container" id="114">
                <div class="Polaris-ResourceItem__Owned">
                  <div class="Polaris-ResourceItem__Handle">
                    <div class="Polaris-ResourceItem__CheckboxWrapper">
                      <div><label class="Polaris-Choice Polaris-Choice--labelHidden" for="PolarisResourceListItemCheckbox7"><span class="Polaris-Choice__Control"><span class="Polaris-Checkbox"><input id="PolarisResourceListItemCheckbox3" type="checkbox" class="Polaris-Checkbox__Input" aria-invalid="false" role="checkbox" aria-checked="false" value=""><span class="Polaris-Checkbox__Backdrop"></span><span class="Polaris-Checkbox__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                    
                                  </svg></span></span></span></span><span class="Polaris-Choice__Label"></span></label></div>
                    </div>
                  </div>
                
                </div>
                <div class="Polaris-ResourceItem__Content">
                  <h3><span class="Polaris-TextStyle--variationStrong">Scarf </span></h3>
                  <div>Cotton</div>
                </div>
                <div class="Polaris-ResourceItem__Actions">
                  <div class="Polaris-ButtonGroup">
                    <div class="Polaris-ButtonGroup__Item Polaris-ButtonGroup__Item--plain"><a class="Polaris-Button Polaris-Button--plain" href="orders/1456" data-polaris-unstyled="true"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Add to different store</span></span></a></div>
                  </div>
                </div>
                <div class="Polaris-ResourceItem__Disclosure">
               
              </div>
            </div>
          </div>
        </li>
        <li class="Polaris-ResourceItem__ListItem">
          <div class="Polaris-ResourceItem__ItemWrapper">
            <div class="Polaris-ResourceItem Polaris-ResourceItem--selectable Polaris-ResourceItem--persistActions" data-href="customers/256"><a aria-describedby="212" aria-label="View details for Ellen Ochoa" class="Polaris-ResourceItem__Link" tabindex="0" id="PolarisResourceListItemOverlay8" href="customers/256" data-polaris-unstyled="true"></a>
              <div class="Polaris-ResourceItem__Container" id="212">
                <div class="Polaris-ResourceItem__Owned">
                  <div class="Polaris-ResourceItem__Handle">
                    <div class="Polaris-ResourceItem__CheckboxWrapper">
                      <div><label class="Polaris-Choice Polaris-Choice--labelHidden" for="PolarisResourceListItemCheckbox8"><span class="Polaris-Choice__Control"><span class="Polaris-Checkbox"><input id="PolarisResourceListItemCheckbox8" type="checkbox" class="Polaris-Checkbox__Input" aria-invalid="false" role="checkbox" aria-checked="false" value=""><span class="Polaris-Checkbox__Backdrop"></span><span class="Polaris-Checkbox__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                                    <path d="m8.315 13.859-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.436.436 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0"></path>
                                  </svg></span></span></span></span><span class="Polaris-Choice__Label"></span></label></div>
                    </div>
                  </div>
                 
                </div>
                <div class="Polaris-ResourceItem__Content">
                  <h3><span class="Polaris-TextStyle--variationStrong">Jacket</span></h3>
                  <div>Denim</div>
                </div>
                
                <div class="Polaris-ResourceItem__Actions">
                  <div class="Polaris-ButtonGroup">
                    <div class="Polaris-ButtonGroup__Item Polaris-ButtonGroup__Item--plain"><a class="Polaris-Button Polaris-Button--plain" href="https://mg-testing-store-a.myshopify.com/admin/apps/app1-963" data-polaris-unstyled="true"><span class="Polaris-Button__Content"><span class="Polaris-Button__Text">Add to different store</span></span></a></div>
                  </div>
                </div>
                <div class="Polaris-ResourceItem__Disclosure">
                  <div><button class="Polaris-Button Polaris-Button--plain Polaris-Button--iconOnly" aria-label="Actions dropdown" type="button" tabindex="0" aria-controls="Polarispopover4" aria-owns="Polarispopover4" aria-expanded="false"><span class="Polaris-Button__Content"><span class="Polaris-Button__Icon"><span class="Polaris-Icon"><span class="Polaris-VisuallyHidden"></span><svg viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                              <path d="M6 10a2 2 0 1 1-4.001-.001A2 2 0 0 1 6 10zm6 0a2 2 0 1 1-4.001-.001A2 2 0 0 1 12 10zm6 0a2 2 0 1 1-4.001-.001A2 2 0 0 1 18 10z"></path>
                            </svg></span></span></span></button></div>
                </div>
                
              </div>
            </div>
          </div>
        </li>
       
      </ul>
    </div>
  </div>
  <div id="PolarisPortalsContainer">
    <div data-portal-id="sheet-Polarisportal2"></div>
    <div data-portal-id="popover-Polarisportal3"></div>
    <div data-portal-id="popover-Polarisportal4"></div>
    <div data-portal-id="popover-Polarisportal5"></div>
    <div data-portal-id="popover-Polarisportal6"></div>
  </div>
</div>
  </body>
</html>


